<div> <!--ng-init="mydata.name='susein'"-->
    <span>Name:</span><span>{{user.name}}</span>
    <span>Age:</span><span>{{user.age}}</span>
    <span>Email:</span><span>{{user.email}}</span>

    <span>Name:</span><span>{{mydata.name}}</span>
    <span>Age:</span><span>{{mydata.age}}</span>
    <span>Email:</span><span>{{mydata.email}}</span>

    <input type="text" ng-model="test"/>

    <input type="button" ng-click="onupdate()" value="clickme"/>
    {{copyright}}
    <span id="abc">I am directive</span>


</div>
