<!DOCTYPE html>
<!DOCTYPE html>
<html ng-app='main'>

<head>
    <title></title>
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div ng-controller='one'>
		This is ONE controller
		one communicates to {{value}}
    </div>
    <div ng-controller='two'>

    This is TWO controller
		two communicates to {{value}}
        <button ng-click='raiseEvent()'>Event</button>
    </div>

    <div ng-controller='three'>

    This is THREE controller
		three communicates to {{value}}
        <!-- <button ng-click='raiseEvent()'>Event</button> -->
    </div>
</body>
</body>

</html>
